/*
 The stylesheet for the symbol component.
 
 default:
 font size: 16px
 line height: 1.5
 foreground color: #000000
 
 darkmode:
 foreground color: #FFFFFF
 */

.symbol {
    --fontSize: 1.0rem;
    --lineHeight: 1.5;
    
    display: inline-block;
    inline-size: 1.25em;
    block-size: 1.0em;
    fill: hsla(var(--foregroundColor), 1.0);
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    vertical-align: middle;
}

.symbol.size\:tiny {
    --fontSize: 0.67rem;
    --lineHeight: 1.25;
}

.symbol.size\:small {
    --fontSize: 0.83rem;
    --lineHeight: 1.25;
}

.symbol.size\:medium {
    --fontSize: 1.17rem;
    --lineHeight: 1.75;
}

.symbol.size\:large {
    --fontSize: 1.5rem;
    --lineHeight: 2.0;
}

.symbol.size\:extralarge {
    --fontSize: 2rem;
    --lineHeight: 2.25;
}

.symbol + .text {
    margin-inline-start: 0.75rem;
}

.text + .symbol {
    margin-inline-start: 0.75rem;
}
