/**
 * The rulesets for the text component.
 */

.text {
    --fontSize: 1.0rem;
    --lineHeight: 1.5;
    --fontWeight: 400;
    
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    line-height: var(--lineHeight);
    color: hsla(var(--foregroundColor), 1.0);
}

.text.size\:tiny {
    --fontSize: 0.67rem;
    --lineHeight: 1.25;
}

.text.size\:small {
    --fontSize: 0.83rem;
    --lineHeight: 1.25;
}

.text.size\:medium {
    --fontSize: 1.17rem;
    --lineHeight: 1.75;
}

.text.size\:large {
    --fontSize: 1.5rem;
    --lineHeight: 2.0;
}

.text.size\:extralarge {
    --fontSize: 2rem;
    --lineHeight: 2.25;
}

.text.weight\:thin {
    --fontWeight: 100;
}

.text.weight\:ultralight {
    --fontWeight: 200;
}

.text.weight\:light {
    --fontWeight: 300;
}

.text.weight\:medium {
    --fontWeight: 500;
}

.text.weight\:semibold {
    --fontWeight: 600;
}

.text.weight\:bold {
    --fontWeight: 700;
}

.text.weight\:heavy {
    --fontWeight: 900;
}

.text.weight\:black {
    --fontWeight: 950;
}

.text.case\:uppercase {
    text-transform: uppercase;
}

.text.case\:lowercase {
    text-transform: lowercase;
}

.text.case\:capitalize {
    text-transform: capitalize;
}

.text.decoration\:underline {
    text-decoration: underline;
}

.text.decoration\:overline {
    text-decoration: overline;
}

.text.decoration\:strikethrough {
    text-decoration: line-through;
}

.text.decoration\:none {
    text-decoration: none;
}

.text.style\:italic {
    font-style: italic;
}

.text.style\:oblique {
    font-style: oblique;
}

.text.style\:title {
    --fontSize: 2.0rem;
    --fontWeight: 400;
    --lineHeight: 2.25;
    
    text-wrap: balance;
}

.text.style\:headline {
    --fontSize: 1.5rem;
    --fontWeight: 600;
    --lineHeight: 2.0;
}

.text.style\:subheadline {
    --fontSize: 1.25rem;
    --fontWeight: 400;
    --lineHeight: 1.75;
}

.text.style\:body {
    --fontSize: 1rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
}

.text.style\:callout {
    --fontSize: 1rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
}

.text.style\:caption {
    --fontSize: 0.8rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
}

.text.style\:footnote {
    --fontSize: 0.8rem;
    --fontWeight: 400;
    --lineHeight: 1.75;
    --foregroundColor: var(--grayColor) !important;
}

.text.style\:code {
    --fontFamily: monospace;
    --fontSize: 1.0rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
}

.text.height\:small {
    --lineHeight: 1.0;
}

.text.height\:medium {
    --lineHeight: 1.75;
}

.text.height\:large {
    --lineHeight: 2.25;
}

.text.limit\:one {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text.limit\:two {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text.limit\:three {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text.alignment\:leading {
    text-align: start;
}

.text.alignment\:center {
    text-align: center;
}

.text.alignment\:trailing {
    text-align: end;
}

.text.font\:arial {
    --fontFamily: Arial;
}

.text.font\:helvetica {
    --fontFamily: Helvetica;
}

.text.shadow\:small {
    text-shadow: 0 1px 1px hsla(var(--shadowColor), 0.3), 0 2px 2px hsla(var(--shadowColor), 0.3);
}

.text.shadow\:medium {
    text-shadow: 0 3px 3px hsla(var(--shadowColor), 0.3), 0 4px 4px hsla(var(--shadowColor), 0.3);
}

.text.shadow\:large {
    text-shadow: 0 5px 5px hsla(var(--shadowColor), 0.3), 0 6px 6px hsla(var(--shadowColor), 0.3);
}
