/**
 * The rulesets for the text component.
 */

.text {
    --fontSize: 1.0rem;
    --lineHeight: 1.5;
    --fontWeight: 400;
    
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    line-height: var(--lineHeight);
    color: hsla(var(--foregroundColor), 1.0);

    &.size\:tiny {
        --fontSize: 0.67rem;
        --lineHeight: 1.25;
    }

    &.size\:small {
        --fontSize: 0.83rem;
        --lineHeight: 1.25;
    }

    &.size\:medium {
        --fontSize: 1.17rem;
        --lineHeight: 1.75;
    }

    &.size\:large {
        --fontSize: 1.5rem;
        --lineHeight: 2.0;
    }

    &.size\:extralarge {
        --fontSize: 2rem;
        --lineHeight: 2.25;
    }

    &.weight\:thin {
        --fontWeight: 100;
    }

    &.weight\:ultralight {
        --fontWeight: 200;
    }

    &.weight\:light {
        --fontWeight: 300;
    }

    &.weight\:medium {
        --fontWeight: 500;
    }

    &.weight\:semibold {
        --fontWeight: 600;
    }

    &.weight\:bold {
        --fontWeight: 700;
    }

    &.weight\:heavy {
        --fontWeight: 900;
    }

    &.weight\:black {
        --fontWeight: 950;
    }

    &.case\:uppercase {
        text-transform: uppercase;
    }

    &.case\:lowercase {
        text-transform: lowercase;
    }

    &.case\:capitalize {
        text-transform: capitalize;
    }

    &.decoration\:underline {
        text-decoration: underline;
    }

    &.decoration\:overline {
        text-decoration: overline;
    }

    &.decoration\:strikethrough {
        text-decoration: line-through;
    }

    &.decoration\:none {
        text-decoration: none;
    }

    &.style\:italic {
        font-style: italic;
    }

    &.style\:oblique {
        font-style: oblique;
    }

    &.style\:title {
        --fontSize: 2.0rem;
        --fontWeight: 400;
        --lineHeight: 2.25;

        text-wrap: balance;
    }

    &.style\:headline {
        --fontSize: 1.5rem;
        --fontWeight: 600;
        --lineHeight: 2.0;
    }

    &.style\:subheadline {
        --fontSize: 1.25rem;
        --fontWeight: 400;
        --lineHeight: 1.75;
    }

    &.style\:body {
        --fontSize: 1rem;
        --fontWeight: 400;
        --lineHeight: 1.5;
    }

    &.style\:callout {
        --fontSize: 1rem;
        --fontWeight: 400;
        --lineHeight: 1.5;
    }

    &.style\:caption {
        --fontSize: 0.8rem;
        --fontWeight: 400;
        --lineHeight: 1.5;
    }

    &.style\:footnote {
        --fontSize: 0.8rem;
        --fontWeight: 400;
        --lineHeight: 1.75;
        --foregroundColor: var(--grayColor) !important;
    }

    &.style\:code {
        --fontFamily: monospace;
        --fontSize: 1.0rem;
        --fontWeight: 400;
        --lineHeight: 1.5;
    }

    &.height\:small {
        --lineHeight: 1.0;
    }

    &.height\:medium {
        --lineHeight: 1.75;
    }

    &.height\:large {
        --lineHeight: 2.25;
    }

    &.limit\:one {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &.limit\:two {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &.limit\:three {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &.alignment\:leading {
        text-align: start;
    }

    &.alignment\:center {
        text-align: center;
    }

    &.alignment\:trailing {
        text-align: end;
    }

    &.font\:arial {
        --fontFamily: Arial;
    }

    &.font\:helvetica {
        --fontFamily: Helvetica;
    }

    &.shadow\:small {
        text-shadow: 0 1px 1px hsla(var(--shadowColor), 0.3), 0 2px 2px hsla(var(--shadowColor), 0.3);
    }

    &.shadow\:medium {
        text-shadow: 0 3px 3px hsla(var(--shadowColor), 0.3), 0 4px 4px hsla(var(--shadowColor), 0.3);
    }

    &.shadow\:large {
        text-shadow: 0 5px 5px hsla(var(--shadowColor), 0.3), 0 6px 6px hsla(var(--shadowColor), 0.3);
    }
}
