/*
 The rulesets for the checkfield component.
 
 defaults:
 border width: 1px;
 border color: #DFE3E7
 background color: #FFFFFF
 
 darkmode:
 border color: #484F56
 background color: #FFFFFF
 */

.checkfield {
    --paddingBlockStart: 0.5rem;
    --paddingBlockEnd: 0.5rem;
    --paddingInlineStart: 1.0rem;
    --paddingInlineEnd: 1.0rem;
    
    position: relative;
    display: flex;
    align-items: center;
    inline-size: 100%;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
}

.checkinput {
    --borderWidth: 1px;
    --borderColor: 210, 14%, 89%;
    --borderOpacity: 1.0;
    --controlColor: 0, 0%, 0%;
    --focusColor: 210, 100%, 50%;
    --backgroundColor: 0, 0%, 100%;
    --backgroundOpacity: 1.0;
    
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 0;
    padding: 0;
    block-size: 1.5rem;
    inline-size: 1.5rem;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkinput:focus {
    --borderColor: var(--focusColor) !important;
    
    outline: 0;
    box-shadow: 0 0 0 0.125rem hsla(var(--focusColor), 0.1);
}

.checkinput:before {
    content: "";
    block-size: 0.625rem;
    inline-size: 0.625rem;
    background-color: hsla(var(--controlColor), 1.0);
    transform: scale(0);
}

.checkinput:checked:before {
    transform: scale(1);
}

.checkinput + label {
    font-family: system-ui;
    margin-inline-start: 1.25rem;
}

.scheme\:dark .checkfield, .checkfield.scheme\:dark {
    --borderColor: 210, 9%, 31%;
    --backgroundColor: 210, 11%, 15%;
    --controlColor: 0, 0%, 100%;
    --focusColor: 210, 100%, 50%;
}
