/*
 The rulesets for the radioselect component.
 
 defaults:
 border width: 1px;
 border color: #DFE3E7
 focus color: #0080FF
 background color: #FFFFFF
 
 darkmode:
 border color: #484F56
 focus color: #0080FF
 background color: #FFFFFF
 */

.radioselect {
    --paddingBlockStart: 0.5rem;
    --paddingBlockEnd: 0.5rem;
    --paddingInlineStart: 1.0rem;
    --paddingInlineEnd: 1.0rem;
    --foregroundColor: var(--systemTextColor);
    --borderWidth: 1px;
    --borderColor: var(--systemBorderColor);
    --borderOpacity: 1.0;
    --focusColor: var(--systemFocusColor);
    --backgroundColor: var(--systemBackgroundColor);
    --backgroundOpacity: 1.0;
    
    position: relative;
    display: flex;
    align-items: center;
    inline-size: 100%;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
}

.radioinput {
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 0;
    padding: 0;
    block-size: 1.5rem;
    inline-size: 1.5rem;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    border-radius: 50%;
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radioinput:checked {
    --backgroundColor: var(--accentColor) !important;
}

.radioinput:focus {
    --borderColor: var(--focusColor) !important;
    
    outline: 0;
    box-shadow: 0 0 0 0.125rem hsla(var(--focusColor), 0.1);
}

.radioinput:before {
    content: "";
    block-size: 0.625rem;
    inline-size: 0.625rem;
    border-radius: 50%;
    background-color: hsla(var(--whiteColor), 1.0);
    transform: scale(0);
}

.radioinput:checked:before {
    transform: scale(1);
}

.radioinput + label {
    font-family: system-ui;
    color: hsla(var(--foregroundColor), 1.0);
    margin-inline-start: 1.25rem;
}
