/*
 The rulesets for the radioselect component.
 
 defaults:
 border width: 1px;
 border color: #DFE3E7
 focus color: #0080FF
 background color: #FFFFFF
 
 darkmode:
 border color: #484F56
 focus color: #0080FF
 background color: #FFFFFF
 */

.radioselect {
    --borderWidth: 1px;
    --borderColor: 210, 14%, 89%;
    --controlColor: 0, 0%, 0%;
    --focusColor: 210, 100%, 50%;
    --backgroundColor: 0, 0%, 100%;
    
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 0;
    padding: 0;
    block-size: 1.5rem;
    inline-size: 1.5rem;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), 1.0);
    border-radius: 50%;
    background-color: hsla(var(--backgroundColor), 1.0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radioselect:focus {
    --borderColor: var(--focusColor) !important;
    
    outline: 0;
    box-shadow: 0 0 0 0.125rem hsla(var(--focusColor), 0.1);
}

.radioselect:before {
    content: "";
    block-size: 0.625rem;
    inline-size: 0.625rem;
    border-radius: 50%;
    background-color: hsla(var(--controlColor), 1.0);
    transform: scale(0);
}

.radioselect:checked:before {
    transform: scale(1);
}

.radioselect + .label {
    margin-inline-start: 1.0rem;
}

.scheme\:dark .radioselect, .radioselect.scheme\:dark {
    --borderColor: 210, 9%, 31%;
    --controlColor: 0, 0%, 100%;
    --focusColor: 210, 100%, 50%;
    --backgroundColor: 210, 11%, 15%;
}
