/*
 The rulesets for the selectfield component.
 
 default:
 block padding: 8px
 inline padding: 16px
 font size:
 font weigth: normal
 line height: 1.5
 foreground color: #000000
 border width: 1px
 border color: #DFE3E7
 border radius: 0
 focus color: #0080FF
 background color: #FFFFFF
 
 darkmode:
 foreground color: #FFFFFF
 border color: #484F56
 focus color: #0080FF
 background color: #22262A
 */

.selectfield {
    --paddingBlockStart: 0.5rem;
    --paddingBlockEnd: 0.5rem;
    --paddingInlineStart: 1.0rem;
    --paddingInlineEnd: 1.0rem;
    --fontSize: 1.0rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
    --foregroundColor: 0, 0%, 0%;
    --borderWidth: 1px;
    --borderColor: 210, 14%, 89%;
    --borderRadius: 0;
    --borderOpacity: 1.0;
    --focusColor: 210, 100%, 50%;
    --backgroundColor: 0, 0%, 100%;
    --backgroundOpacity: 1.0;
    
    position: relative;
    display: block;
    inline-size: 100%;
}

.selectfield-textfield {
    display: block;
    inline-size: 100%;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    line-height: var(--lineHeight);
    color: hsla(var(--foregroundColor), 1.0);
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectfield-textfield:focus {
    --borderColor: var(--focusColor) !important;
    
    outline: 0;
    box-shadow: 0 0 0 0.125rem hsla(var(--focusColor), 0.1);
}

.selectfield-textfield:invalid {
    --borderColor: var(--redColor);
}

.selectfield-optionlist {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    margin-block: 0.75rem;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), 1.0);
    background-color: hsla(var(--backgroundColor), 1.0);
    list-style-type: none;
    visibility: hidden;
}

.selectfield-optionlist.position\:bottom {
    bottom: 0;
    margin-block: 3.375rem !important;
}

.scheme\:dark .selectfield, .selectfield.scheme\:dark {
    --foregroundColor: 0, 0%, 100%;
    --borderColor: 210, 9%, 31%;
    --focusColor: 210, 100%, 50%;
    --backgroundColor: 210, 11%, 15%;
}
