/**
 * The rulesets for the slider component.
 */

.slider {
    --borderWidth: 1px;
    --borderColor: var(--systemBorderColor);
    --borderOpacity: 1.0;
    --controlColor: 0, 0%, 0%;
    --focusColor: var(--systemFocusColor);
    --backgroundColor: var(--systemBackgroundColor);
    --backgroundOpacity: 1.0;
    
    display: block;
    margin: 0;
    padding: 0;
    inline-size: 100%;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider:focus {
    --borderColor: var(--focusColor) !important;
    
    outline: 0;
    box-shadow: 0 0 0 0.125rem hsla(var(--focusColor), 0.1);
}

.slider::-webkit-slider-thumb {
    width: 1em;
    height: 1em;
    background-color: hsla(var(--controlColor), 1.0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    background-color: hsla(var(--controlColor), 1.0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.scheme\:dark .slider, .slider.scheme\:dark {
    --controlColor: 0, 0%, 100%;
}
