/**
 * The rulesets for the textpad component.
 */
 
.textpad {
    --paddingBlockStart: 0.5rem;
    --paddingBlockEnd: 0.5rem;
    --paddingInlineStart: 1.0rem;
    --paddingInlineEnd: 1.0rem;
    --fontSize: 1.0rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
    --foregroundColor: var(--systemTextColor);
    --borderWidth: 1px;
    --borderColor: var(--systemBorderColor);
    --borderRadius: 0;
    --borderOpacity: 1.0;
    --focusColor: var(--systemFocusColor);
    --backgroundColor: var(--systemBackgroundColor);
    --backgroundOpacity: 1.0;
    
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));

    &:has(.textpad-content:invalid) {
        --borderColor: var(--redColor);
    }

    &:has(.textpad-content:focus-within) {
        .textpad-action {
            .toolbar-tool {
                color: hsla(var(--foregroundColor), 1.0);
            }
        }
    }

    &:focus-within {
        --borderColor: var(--focusColor) !important;

        outline-style: none;
        box-shadow: 0 0 0 0.125rem hsla(var(--focusColor), 0.1);
    }

    .textpad-toolbar {
        padding-block-start: var(--paddingBlockStart);
        padding-block-end: var(--paddingBlockEnd);
        padding-inline-start: var(--paddingInlineStart);
        padding-inline-end: var(--paddingInlineEnd);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .textpad-revision {
            margin-inline: unset !important;
            margin-block: unset !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 0.75rem;
            list-style: none;

            li {
                position: relative;
            }

            .toolbar-tool {
                color: hsla(var(--foregroundColor), 1.0);

                &.state\:disabled {
                    color: hsla(var(--foregroundColor), 0.5);
                }
            }
        }
    }

    .textpad-content {
        padding-block-start: var(--paddingBlockStart);
        padding-block-end: var(--paddingBlockEnd);
        padding-inline-start: var(--paddingInlineStart);
        padding-inline-end: var(--paddingInlineEnd);
        inline-size: 100%;
        display: block;
        font-family: system-ui;
        font-size: var(--fontSize);
        font-weight: var(--fontWeight);
        line-height: var(--lineHeight);
        color: hsla(var(--foregroundColor), 1.0);
        border-style: none;
        outline-style: none;
        background-color: transparent;
        resize: none;
    }
}

.toolbar-context {
    position: relative;
    display: inline-block;

    summary {
        list-style: none;
        cursor: pointer;

        &::-webkit-details-marker {
            display: none;
        }

        svg {
            display: inline-block;
            inline-size: 1.25em;
            block-size: 1.0em;
            fill: currentColor;
            font-size: 1.0rem;
            line-height: 1.5;
            vertical-align: middle;
            pointer-events: none;
        }
    }

    ul {
        position: absolute;
        z-index: 1;
        margin-block: 0.5rem;
        padding-block: 0.5rem;
        padding-inline: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        inline-size: max-content;
        border-width: var(--borderWidth);
        border-style: solid;
        border-color: hsla(var(--systemBorderColor), 1.0);
        border-radius: var(--borderRadius);
        background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
        list-style: none;

        li {
            position: relative;

            .toolbar-tool {
                color: hsla(var(--foregroundColor), 1.0);
            }
        }
    }
}

@media (min-width: 768px) {
    .toolbar-context  {
        display: none;
    }
}

.textpad-action {
    margin-inline: unset !important;
    margin-block: unset !important;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    list-style: none;

    li {
        position: relative;
    }
}

@media (min-width: 768px) {
    .textpad-action {
        display: flex;
    }
}

.tooltip {
    position: absolute;
    top: 100%;
    z-index: 1;
    padding-inline: 0.313rem;
    padding-block: 0.625rem;
    display: none;
    inline-size: max-content;
    font-size: 14px;
    text-align: center;
    color: hsla(var(--whiteColor), 1.0);
    border-radius: var(--borderRadius);
    background-color: hsla(var(--blackColor), 1.0);
}

.toolbar-tool {
    display: inline-block;
    inline-size: 32px;
    block-size: 32px;
    color: hsla(var(--foregroundColor), 0.5);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: unset;
    border-radius: 0.3rem;
    background-color: unset;

    > * {
        pointer-events: none;
    }

    &:hover {
        background-color: hsla(var(--systemBorderColor), 0.5);
    }

    svg {
        display: inline-block;
        inline-size: 1.25em;
        block-size: 1.0em;
        fill: currentColor;
        font-size: 1.0rem;
        line-height: 1.5;
        vertical-align: middle;
        pointer-events: none;
    }
}

.toolbar-tool:hover + .tooltip {
    display: block;
}
