/*
 The rulesets for the textpad component.
 
 default:
 block padding: 8px
 inline padding: 16px
 font size:
 font weigth: normal
 line height: 1.5
 foreground color: #000000
 border width: 1px
 border color: #DFE3E7
 border radius: 0
 focus color: #0080FF
 background color: #FFFFFF
 
 darkmode:
 foreground color: #FFFFFF
 border color: #484F56
 focus color: #0080FF
 background color: #22262A
 */
 
.textpad {
    --paddingBlockStart: 0.5rem;
    --paddingBlockEnd: 0.5rem;
    --paddingInlineStart: 1.0rem;
    --paddingInlineEnd: 1.0rem;
    --fontSize: 1.0rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
    --foregroundColor: var(--systemTextColor);
    --borderWidth: 1px;
    --borderColor: var(--systemBorderColor);
    --borderRadius: 0;
    --borderOpacity: 1.0;
    --focusColor: var(--systemFocusColor);
    --backgroundColor: var(--systemBackgroundColor);
    --backgroundOpacity: 1.0;
    
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
}

.textpad:focus-within {
    --borderColor: var(--focusColor) !important;
    
    outline: 0;
    box-shadow: 0 0 0 0.125rem hsla(var(--focusColor), 0.1);
}

.textpad:has(.textpad-content:invalid) {
    --borderColor: var(--redColor);
}

.textpad:has(.textpad-content:focus-within) .textpad-action .toolbar-tool {
    color: hsla(var(--foregroundColor), 1.0);
}

.textpad-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
}

.toolbar-context {
    position: relative;
    display: inline-block;
}

@media (min-width: 768px) {
    .toolbar-context  {
        display: none;
    }
}

.toolbar-context summary {
    list-style: none;
    cursor: pointer;
}

.toolbar-context summary::-webkit-details-marker {
    display: none;
}

.toolbar-context summary svg {
    display: inline-block;
    inline-size: 1.25em;
    block-size: 1.0em;
    fill: currentColor;
    font-size: 1.0rem;
    line-height: 1.5;
    vertical-align: middle;
    pointer-events: none;
}

.toolbar-context ul {
    position: absolute;
    z-index: 1;
    margin-block: 0.5rem;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    inline-size: max-content;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--systemBorderColor), 1.0);
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    list-style: none;
}

.toolbar-context ul li {
    position: relative;
}

.toolbar-context ul li .toolbar-tool {
    color: hsla(var(--foregroundColor), 1.0);
}

.textpad-action {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    list-style: none;
    margin: unset !important;
}

@media (min-width: 768px) {
    .textpad-action {
        display: flex;
    }
}

.textpad-action > li {
    position: relative;
}

.textpad-revision {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    list-style: none;
    margin: unset !important;
}

.textpad-revision > li {
    position: relative;
}

.textpad-revision .toolbar-tool {
    color: hsla(var(--foregroundColor), 1.0);
}

.textpad-revision .toolbar-tool.state\:disabled {
    color: hsla(var(--foregroundColor), 0.5);
}

.toolbar-tool {
    display: inline-block;
    inline-size: 32px;
    block-size: 32px;
    color: hsla(var(--foregroundColor), 0.5);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: unset;
    border-radius: 0.3rem;
    background-color: unset;
}

.toolbar-tool > * {
    pointer-events: none;
}

.toolbar-tool:hover {
    background-color: hsla(var(--systemBorderColor), 0.5);
}

.toolbar-tool > svg {
    display: inline-block;
    inline-size: 1.25em;
    block-size: 1.0em;
    fill: currentColor;
    font-size: 1.0rem;
    line-height: 1.5;
    vertical-align: middle;
    pointer-events: none;
}

.textpad-content {
    display: block;
    inline-size: 100%;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    line-height: var(--lineHeight);
    color: hsla(var(--foregroundColor), 1.0);
    border: 0;
    outline: 0;
    background-color: transparent;
    resize: none;
}
