/**
 * The rulesets for the texteditor component.
 */

.texteditor {
    --paddingBlockStart: 0.5rem;
    --paddingBlockEnd: 0.5rem;
    --paddingInlineStart: 1.0rem;
    --paddingInlineEnd: 1.0rem;
    --fontSize: 1.0rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
    --foregroundColor: var(--systemTextColor);
    --borderWidth: 1px;
    --borderColor: var(--systemBorderColor);
    --borderRadius: 0;
    --borderOpacity: 1.0;
    --focusColor: var(--systemFocusColor);
    --backgroundColor: var(--systemBackgroundColor);
    --backgroundOpacity: 1.0;
    
    display: block;
    inline-size: 100%;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    line-height: var(--lineHeight);
    color: hsla(var(--foregroundColor), 1.0);
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
}

.texteditor:focus {
    --borderColor: var(--focusColor) !important;
    
    outline: 0;
    box-shadow: 0 0 0 0.125rem hsla(var(--focusColor), 0.1);
}

.texteditor:invalid {
    --borderColor: var(--redColor);
}
