/*
 card component
 
 --cardHeaderHeight: 200px;
 --cardHeaderBackgroundColor: var(--silverColor);
 --cardPaddingBlock: 0.5rem; (12px)
 --cardPaddingInline: 1.0rem; (16px)
 --cardBorderWidth: 1px;
 --cardBorderColor: hsla(210, 14%, 89%, 1.0);
 --cardBackgroundcolor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --cardBorderColor: hsla(210, 9%, 31%, 1.0); (#)
 --cardBackgroundcolor: hsla(210, 11%, 15%, 1.0); (#)
 */

:root {
    --cardHeaderHeight: 200px;
    --cardHeaderBackgroundColor: var(--silverColor);
    --cardPaddingBlock: 0.5rem;
    --cardPaddingInline: 1.0rem;
    --cardBorderWidth: 1px;
    --cardBorderColor: hsla(210, 14%, 89%, 1.0);
    --cardBackgroundColor: hsla(0, 0%, 100%, 1.0);
}

.color-scheme\:dark {
    --cardBorderColor: hsla(210, 9%, 31%, 1.0);
    --cardBackgroundColor: hsla(210, 11%, 15%, 1.0);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: var(--cardBorderWidth);
    border-style: solid;
    border-color: var(--cardBorderColor);
    background-color: var(--cardBackgroundColor);
}

.card .card-header {
    max-height: var(--cardHeaderHeight);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--cardHeaderBackgroundColor);
    overflow: hidden;
}

.card .card-header .image {
    border-radius: inherit;
}

.card .card-body {
    padding-block: var(--cardPaddingBlock);
    padding-inline: var(--cardPaddingInline);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.card.shape\:smallrounded {
    border-radius: 0.313rem;
}

.card.shape\:largerounded {
    border-radius: 0.625rem;
}
