/**
 card component
 */

.card {
    
    display: flex;
    flex-direction: column;
    border-width: var(--cardBorderWidth);
    border-style: solid;
    border-radius: var(--cardBorderRadius);
    border-color: var(--cardBorderColor);
    background-color: var(--cardBackgroundColor);
}

.card .card-header {
    
    max-height: var(--cardHeaderHight);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--cardHeaderBackgroundColor);
    overflow: hidden;
}

.card .card-header .image {
    
    border-radius: inherit;
}

.card .card-body {
    
    padding-top: var(--cardPaddingY);
    padding-right: var(--cardPaddingX);
    padding-bottom: var(--cardPaddingY);
    padding-left: var(--cardPaddingX);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
