/*
 carousel component
 
 --carouselContainerHeight: 400px;
 --carouselBorderWidth: 1px;
 --carouselBorderColor:;
 --carouselBackgroundColor:;
 
 darkmode:
 --carouselBorderColor:;
 --carouselBackgroundColor:;
 */

:root {
    --carouselBorderWidth: 1px;
    --carouselBorderRadius: 10px;
    --carouselBorderColor: #000000;
    --carouselBackgroundColor: transparent;
}

.color-scheme\:dark {
    --carouselBorderColor: #000000;
    --carouselBackgroundColor: transparent;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--carouselContainerHeight);
}

.carousel-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    height: 350px;
    border-width: var(--carouselBorderWidth);
    border-style: solid;
    border-color: var(--carouselBorderColor);
    background-color: var(--carouselBackgroundColor);
    overflow: hidden;
}

.carousel-content::-webkit-scrollbar{
    display: none;
}

.slide {
    display: flex;
    height: auto;
    overflow: hidden;
}

.slide-thumbnail {
    width: 60%;
}

.slide-thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-caption {
    width: 40%;
    padding-block: 24px;
    padding-inline: 24px;
}

.carousel-indication {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
}

/*
 indicator component
 
 variables:
 --indicatorBorderWidth:;
 --indicatorBorderRadius:;
 --indicatorBorderColor:;
 --indicatorBackgroundColor:;
 
 darkmode:
 --indicatorBorderColor:;
 --indicatorBackgroundColor:;
 */

:root {
    --indicatorBorderRadius: 5px;
    --indicatorBackgroundColor: transparent;
    --indicatorBorderColor: #000000;
}

.color-scheme\:dark {
    
    --indicatorBackgroundColor: transparent;
    --indicatorBorderColor: #000000;
}

.indicator {
    width: 40px;
    height: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--indicatorBorderColor);
    border-radius: var(--indicatorBorderRadius);
    background-color: var(--indicatorBackgroundColor);
    cursor: pointer;
}

.indicator:hover {
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
}
