.dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
}

.dropdown-label {
    display: inline-block;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    padding: 6px 0px;
    width: 200px;
    border: 1px solid var(--dropdownBorderColor);
    border-radius: var(--dropdownBorderRadius);
    background-color: var(--dropdownBackgroundColor);
    z-index: 1;
}

.dropdown:focus .dropdown-content {
    display: inline-block;
}

.dropdown .list .list-row:hover {
    background-color: var(--dropdownHoverColor);
}

.dropdown .list .list-row .link {
    display: block;
}
