/*
 dropdown component
 
 --dropdownPaddingBlock: 0.5rem; (12px)
 --dropdownPaddingInline: 1.0rem; (16px)
 --dropdownFontSize: 1.0rem; (16px)
 --dropdownFontWeight: normal; (400)
 --dropdownLineHeight: 1.5;
 --dropdownBorderWidth: 1px;
 --dropdownForegroundColor: hsla(0, 0%, 100%, 1.0);
 --dropdownBorderColor: hsla(210, 9%, 31%, 1.0);
 --dropdownBackgroundColor: hsla(210, 11%, 15%, 1.0);
 
 darkmode:
 --dropdownForegroundColor: hsla(0, 0%, 100%, 1.0);
 --dropdownBorderColor: hsla(210, 9%, 31%, 1.0);
 --dropdownBackgroundColor: hsla(210, 11%, 15%, 1.0);
 */

:root {
    --dropdownPaddingBlock: 0.5rem;
    --dropdownPaddingInline: 1.0rem;
    --dropdownFontSize: 1.0rem;
    --dropdownFontWeight: normal;
    --dropdownLineHeight: 1.5;
    --dropdownBorderWidth: 1px;
    --dropdownListMargin: 0.75rem;
    --dropdownMininumWidth: 15.625rem;
    --dropdownForegroundColor: hsla(0, 0%, 100%, 1.0);
    --dropdownBorderColor: hsla(210, 9%, 31%, 1.0);
    --dropdownBackgroundColor: hsla(210, 11%, 15%, 1.0);
}

.color-scheme\:dark {
    --dropdownForegroundColor: hsla(0, 0%, 100%, 1.0);
    --dropdownBorderColor: hsla(210, 9%, 31%, 1.0);
    --dropdownBackgroundColor: hsla(210, 11%, 15%, 1.0);
}

.dropdown {
    position: relative;
}

.dropdown-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: var(--dropdownPaddingBlock);
    padding-inline: var(--dropdownPaddingInline);
    font-family: var(--textFontFamily);
    font-size: var(--dropdownFontSize);
    font-weight: var(--dropdownFontWeight);
    line-height: var(--dropdownLineHeight);
    color: var(--dropdownForegroundColor);
    text-decoration: none;
    white-space: nowrap;
    border-width: var(--dropdownBorderWidth);
    border-style: solid;
    border-color: var(--dropdownBorderColor);
    background-color: var(--dropdownBackgroundColor);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dropdown-label:hover {
    filter: brightness(90%) saturate(90%);
}

.dropdown .dropdown-content {
    position: absolute;
    z-index: 1;
    display: none;
    margin-block: var(--dropdownListMargin);
    width: var(--dropdownMininumWidth);
    border-width: var(--dropdownBorderWidth);
    border-style: solid;
    border-color: var(--dropdownBorderColor);
    background-color: var(--dropdownBackgroundColor);
}

.dropdown .list .list-row:hover {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
}

.dropdown .list .list-row .link {
    display: block;
}
