/*
 form component
 */

.form {
    display: block;
    width: 100%;
    height: auto;
}

/*
 label component
 
 variables:
 --labelMarginBlockStart: 1.25rem (20px)
 --labelMarginBlockEnd: 0.625rem (10px)
 */

.label {
    display: inline-block;
    margin-block-start: 1.25rem;
    margin-block-end: 0.625rem;
    font-size: var(--textFontSize);
    font-weight: var(--textFontHeight);
    line-height: var(--textLineHeight);
    color: var(--textBaseColor);
}

/*
 textfield component
 
 variables:
 --inputPaddingBlock: 0.5rem; (8px)
 --inputPaddingInline: 1.0rem; (16px)
 --inputFontSize: 1.0rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 --inputBorderColor: hsla(210, 9%, 31%, 1.0); (#484F56)
 --inputFocusColor: hsla(210, 9%, 31%, 0.4); (#484F56)
 --inputBackgroundColor: hsla(210, 11%, 15%, 1.0); (#22262A)
 */

:root {
    --inputPaddingBlock: 0.5rem;
    --inputPaddingInline: 1.0rem;
    --inputFontSize: 1.0rem;
    --inputFontWeight: normal;
    --inputLineHeight: 1.5;
    --inputBorderWidth: 1px;
}

@media (prefers-color-scheme: light) {
    
    :root {
        --inputForegroundColor: hsla(0, 0%, 0%, 1.0);
        --inputBorderColor: hsla(210, 14%, 89%, 1.0);
        --inputFocusColor: hsla(210, 14%, 89%, 0.4);
        --inputBackgroundColor: hsla(0, 0%, 100%, 1.0);
    }
}

@media (prefers-color-scheme: dark) {
    
    :root {
        --inputForegroundColor: hsla(0, 0%, 100%, 1.0);
        --inputBorderColor: hsla(210, 9%, 31%, 1.0);
        --inputFocusColor: hsla(210, 9%, 31%, 0.4);
        --inputBackgroundColor: hsla(210, 11%, 15%, 1.0);
    }
}

.textfield {
    display: block;
    width: 100%;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.textfield.shape\:smallrounded {
    border-radius: 0.313rem;
}

.textfield.shape\:largerounded {
    border-radius: 0.625rem;
}

.textfield.shape\:fullrounded {
    border-radius: 1.563rem;
}

.textfield:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--inputFocusColor);
}

.textfield:invalid {
    border-color: var(--redColor);
}

/*
 texteditor component
 
 variables:
 --inputPaddingBlock: 0.5rem; (8px)
 --inputPaddingInline: 1.0rem; (16px)
 --inputFontSize: 1.0rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: ; (#)
 --inputBorderColor: ; (#)
 --inputFocusColor: ; (#)
 --inputBackgroundColor: ; (#)
 */

.texteditor {
    display: block;
    width: 100%;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    box-sizing: border-box;
}

.texteditor.shape\:smallrounded {
    border-radius: 0.313rem;
}

.texteditor.shape\:largerounded {
    border-radius: 0.625rem;
}

.texteditor.shape\:fullrounded {
    border-radius: 1.563rem;
}

.texteditor:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--inputFocusColor);
}

.texteditor:invalid {
    border-color: var(--redColor);
}

/*
 checkfield component
 
 variables:
 --inputPaddingBlock: 0.5rem; (12px)
 --inputPaddingInline: 1rem; (16px)
 --inputFontSize: 1.0rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: ; (#)
 --inputBorderColor: ; (#)
 --inputFocusColor: ; (#)
 --inputBackgroundColor: ; (#)
 */

.checkfield {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--inputBackgroundColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkfield:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

/*
 radioselect component
 
 variables:
 --inputPaddingBlock: 0.75rem; (12px)
 --inputPaddingInline: 1.0rem; (16px)
 --inputFontSize: 1.0rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: ; (#)
 --inputBorderColor: ; (#)
 --inputFocusColor: ; (#)
 --inputBackgroundColor: ; (#)
 */

.radioselect {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--inputBackgroundColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radioselect:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

/*
 slider component
 
 variables:
 --inputPaddingBlock: 0.75rem; (12px)
 --inputPaddingInline: 1.0rem; (16px)
 --inputFontSize: 1.0rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: ; (#)
 --inputBorderColor: ; (#)
 --inputFocusColor: ; (#)
 --inputBackgroundColor: ; (#)
 */

.slider {
    display: block;
    width: 100%;
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider::-webkit-slider-thumb {
    width: 1em;
    height: 1em;
    background-color: var(--thumbBackgroundColor);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    background-color: var(--thumbBackgroundColor);
    cursor: pointer;
}

/*
 datepicker component
 
 variables:
 --inputPaddingBlock: 0.75rem; (12px)
 --inputPaddingInline: 1rem; (16px)
 --inputFontSize: 1rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: ; (#)
 --inputBorderColor: ; (#)
 --inputFocusColor: ; (#)
 --inputBackgroundColor: ; (#)
 */

.datepicker {
    position: relative;
}

.datepicker-datefield {
    display: block;
    width: 100%;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.datepicker.shape\:smallrounded > .datepicker-datefield {
    border-radius: 0.313rem;
}

.datepicker.shape\:largerounded > .datepicker-datefield {
    border-radius: 0.625rem;
}

.datepicker.shape\:fullrounded > .datepicker-datefield {
    border-radius: 1.563rem;
}

.datepicker-datefield:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--inputFocusColor);
}

.datepicker-datefield:focus .datepicker-picker {
    display: inline-block;
}

.datepicker-datefield:invalid {
    border-color: var(--redColor);
}

.datepicker-calendar {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    margin-block: 0.75rem;
    font-family: system-ui;
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
}

.calendar-navigation {
    display: flex;
    align-items : center;
    justify-content: space-between;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    list-style-type: none;
    
}

.calendar-navigation button {
    display: inline-block;
    padding: 0.5rem;
    font-family: system-ui;
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.calendar-navigation button > svg {
    
    width: 1rem;
    height: 1rem;
    pointer-events: none;
}

.calendar-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.calendar-week > li {
    padding: 0.5rem;
    color: var(--primaryColor);
    text-align: center;
    text-decoration: uppercase;
}

.calender-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.calender-days > li:has(time) {
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.calender-days > li:hover:has(time) {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
}

/*
 securefield component
 
 variables:
 --inputPaddingBlock: 0.75rem; (12px)
 --inputPaddingInline: 1rem; (16px)
 --inputFontSize: 1rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: ; (#)
 --inputBorderColor: ; (#)
 --inputFocusColor: ; (#)
 --inputBackgroundColor: ; (#)
 */

.securefield {
    display: block;
    width: 100%;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.securefield.shape\:smallrounded {
    border-radius: 0.313rem;
}

.securefield.shape\:largerounded {
    border-radius: 0.625rem;
}

.securefield.shape\:fullrounded {
    border-radius: 1.563rem;
}

.securefield:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--inputFocusColor);
}

.securefield:invalid {
    border-color: var(--redColor);
}

/*
 searchfield component
 
 variables:
 --inputPaddingBlock: 0.75rem; (12px)
 --inputPaddingInline: 1rem; (16px)
 --inputFontSize: 1rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: ; (#)
 --inputBorderColor: ; (#)
 --inputFocusColor: ; (#)
 --inputBackgroundColor: ; (#)
 */

.searchfield {
    display: block;
    width: 100%;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.searchfield.shape\:smallrounded {
    border-radius: 0.313rem;
}

.searchfield.shape\:largerounded {
    border-radius: 0.625rem;
}

.searchfield.shape\:fullrounded {
    border-radius: 1.563rem;
}

.searchfield:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--inputFocusColor);
}

.searchfield:invalid {
    border-color: var(--redColor);
}

/*
 selectfield component
 
 variables:
 --inputPaddingBlock: 0.75rem; (12px)
 --inputPaddingInline: 1rem; (16px)
 --inputFontSize: 1rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 --inputBorderColor: hsla(210, 9%, 31%, 1.0); (#484F56)
 --inputFocusColor: hsla(210, 9%, 31%, 0.4); (#484F56)
 --inputBackgroundColor: hsla(210, 11%, 15%, 1.0); (#22262A)
 */

.selectfield {
    position: relative;
}

.selectfield-textfield {
    display: block;
    width: 100%;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.selectfield.shape\:fullrounded > .selectfield-textfield {
    border-radius: 1.563rem;
}

.selectfield.shape\:largerounded > .selectfield-textfield {
    border-radius: 0.625rem;
}

.selectfield.shape\:smallrounded > .selectfield-textfield {
    border-radius: 0.313rem;
}

.selectfield-textfield:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--inputFocusColor);
}

.selectfield-textfield:invalid {
    border-color: var(--redColor);
}

.selectfield-optionlist {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    margin-block: 0.75rem;
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
    list-style-type: none;
}

.option {
    display: block;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    font-family: system-ui;
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    cursor: pointer;
}

.option:hover {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
}


/*
 textpad component
 
 variables:
 --inputPaddingBlock: 0.75rem; (12px)
 --inputPaddingInline: 1rem; (16px;
 --inputFontSize: 1rem;
 --inputFontWeight: normal; (400)
 --inputLineHeight: 1.5;
 --inputBorderWidth: 1px;
 
 lightmode:
 --inputForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 --inputBorderColor: hsla(210, 14%, 89%, 1.0); (#DFE3E7)
 --inputFocusColor: hsla(210, 14%, 89%, 0.4); (#DFE3E7)
 --inputBackgroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 
 darkmode:
 --inputForegroundColor: ; (#)
 --inputBorderColor: ; (#)
 --inputFocusColor: ; (#)
 --inputBackgroundColor: ; (#)
 */
 
.textpad {
    display: flex;
    flex-direction: column;
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    background-color: var(--inputBackgroundColor);
}

.textpad:focus-within {
    box-shadow: 0 0 0 0.25rem var(--inputFocusColor);
}

.textpad-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    list-style: none;
}

.textpad-toolbar > .toolbar-tool {
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.textpad-content {
    display: block;
    width: 100%;
    padding-block: var(--inputPaddingBlock);
    padding-inline: var(--inputPaddingInline);
    font-size: var(--inputFontSize);
    font-weight: var(--inputFontWeight);
    line-height: var(--inputLineHeight);
    color: var(--inputForegroundColor);
    border: 0;
    outline: 0;
    background-color: transparent;
    resize: none;
}
