/**
 grouping component
 */

.group {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.group > .button {
    border-radius: 0;
}

.group > .button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.group > .button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.group > .symbol + * {
    margin-left: 15px;
}

.group > * + .symbol {
    margin-left: 15px;
}

.group.color\:black {
    color: var(--blackColor);
}

.group.color\:blue {
    color: var(--blueColor);
}

.group.color\:brown {
    color: var(--brownColor);
}

.group.color\:cyan {
    color: var(--cyanColor);
}

.group.color\:gray {
    color: var(--grayColor);
}

.group.color\:green {
    color: var(--greenColor);
}

.group.color\:indigo {
    color: var(--indigoColor);
}

.group.color\:mint {
    color: var(--mintColor);
}

.group.color\:orange {
    color: var(--orangeColor);
}

.group.color\:pink {
    color: var(--pinkColor);
}

.group.color\:purple {
    color: var(--purpleColor);
}

.group.color\:red {
    color: var(--redColor);
}

.group.color\:teal {
    color: var(--tealColor);
}

.group.color\:white {
    color: var(--whiteColor);
}

.group.color\:yellow {
    color: var(--yellowColor);
}

.group.color\:silver {
    color: var(--silverColor);
}

.group.color\:primary {
    color: var(--primaryColor);
}

.group.color\:secondary {
    color: var(--secondaryColor);
}
