/*
 image component
 
 --imageBorderWidth: 1px;
 --imageBorderColor: transparent;
 */

:root {
    --imageBorderWidth: 1px;
    --imageBorderColor: transparent;
}

.image {
    position: relative;
    width: 100%;
    height: auto;
    border-width: var(--imageBorderWidth);
    border-style: solid;
    border-color: var(--imageBorderColor);
}

.image.fit\:contain {
    object-fit:contain;
}

.image.fit\:cover {
    object-fit:cover;
}

.image.fit\:fill {
    object-fit:fill;
}

.image.fit\:scaledown {
    object-fit:scale-down;
}

.image.fit\:none {
    object-fit:none;
}

.image.opacity\:transparent {
    opacity: 0;
}

.image.opacity\:intransparent {
    opacity: 1;
}

.image.scale\:small {
    width: 25%;
}

.image.scale\:medium {
    width: 50%;
}

.image.scale\:large {
    width: 75%;
}

.image.shape\:smallrounded {
    border-radius: 10%;
}

.image.shape\:largerounded {
    border-radius: 25%;
}

.image.shape\:circle {
    border-radius: 50%;
}
