/**
 modal component
 */

.modal {
    
    width: 45%;
    margin: auto;
    padding-top: var(--modalPaddingY);
    padding-right: var(--modalPaddingX);
    padding-bottom: var(--modalPaddingY);
    padding-left: var(--modalPaddingX);
    border-width: var(--modalBorderWidth);
    border-style: solid;
    border-radius: var(--modalBorderRadius);
    border-color: var(--modalBorderColor);
    background-color: var(--modalBackgroundColor);
}
