/**
 snippet component
 */

.snippet {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    counter-reset: line;
    background-color: var(--snippetBackgroundColor);
    overflow-x: auto;
}

.snippet > p {
    display: block;
    font-size: var(--snippetFontSize);
    line-height: var(--snippetLineHeight);
    color: var(--snippetFontColor);
    word-wrap: normal;
    white-space: pre;
    counter-increment: line;
}

.snippet > p::before {
    position: relative;
    width: 1%;
    min-width: 15px;
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;
    white-space: nowrap;
    text-align: right;
    content: counter(line);
    color: var(--lineNumberFontColor);
    -webkit-user-select: none;
}
