/**
 snippet component
 
 variables:
 --snippetPaddingInline: 1.0em; (16px)
 --snippetFontSize: 1.0rem; (16px)
 --snippetFontWeight: normal; (400)
 --snippetLineHeight: 1.5;

 lightmode:
 --snippetForegroundColor: hsla(0, 0%, 0%, 1.0); (#000000)
 
 darkmode:
 --snippetForegroundColor: hsla(0, 0%, 100%, 1.0); (#FFFFFF)
 */

:root {
    --snippetPaddingInline: 1em;
    --snippetFontSize: 1.0rem;
    --snippetFontWeight: normal;
    --snippetLineHeight: 1.5;
}

@media (prefers-color-scheme: light) {
    
    :root {
        --snippetForegroundColor: hsla(0, 0%, 100%, 100%);
    }
}

@media (prefers-color-scheme: dark) {
    
    :root {
        --snippetForegroundColor: hsla(0, 0%, 100%, 1.0);
    }
}

.snippet {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    counter-reset: line;
    background-color: var(--snippetBackgroundColor);
    overflow-inline: auto;
}

.snippet > p {
    display: block;
    font-size: var(--snippetFontSize);
    line-height: var(--snippetLineHeight);
    color: var(--snippetFontColor);
    word-wrap: normal;
    white-space: pre;
    counter-increment: line;
}

.snippet > p::before {
    position: relative;
    width: 1%;
    min-width: 15px;
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;
    white-space: nowrap;
    text-align: right;
    content: counter(line);
    color: var(--lineNumberFontColor);
    -webkit-user-select: none;
}
