/**
 symbol component
 */

.symbol {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.symbol.size\:small {
    font-size: var(--smallFontSize);
    line-height: var(--smallLineHeight);
}

.symbol.size\:medium {
    font-size: var(--mediumFontSize);
    line-height: var(--mediumLineHeight);
}

.symbol.size\:large {
    font-size: var(--largeFontSize);
    line-height: var(--largeLineHeight);
}

.symbol.color\:black {
    color: var(--blackColor);
}

.symbol.color\:blue {
    color: var(--blueColor);
}

.symbol.color\:brown {
    color: var(--brownColor);
}

.symbol.color\:cyan {
    color: var(--cyanColor);
}

.symbol.color\:gray {
    color: var(--grayColor);
}

.symbol.color\:green {
    color: var(--greenColor);
}

.symbol.color\:indigo {
    color: var(--indigoColor);
}

.symbol.color\:mint {
    color: var(--mintColor);
}

.symbol.color\:orange {
    color: var(--orangeColor);
}

.symbol.color\:pink {
    color: var(--pinkColor);
}

.symbol.color\:purple {
    color: var(--purpleColor);
}

.symbol.color\:red {
    color: var(--redColor);
}

.symbol.color\:teal {
    color: var(--tealColor);
}

.symbol.color\:white {
    color: var(--whiteColor);
}

.symbol.color\:yellow {
    color: var(--yellowColor);
}

.symbol.color\:silver {
    color: var(--silverColor);
}

.symbol.color\:highlight {
    color: var(--highlightColor);
}

.symbol.color\:primary {
    color: var(--primaryColor);
}

.symbol.color\:secondary {
    color: var(--secondaryColor);
}
