/**
 textpad component
 */
 
.textpad {
    display: flex;
    flex-direction: column;
}

.textpad:focus-within {
    border-radius: var(--inputBorderRadius);
    box-shadow: 0 0 0 4px var(--inputFocusColor);
}

.textpad-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top: var(--inputPaddingY);
    padding-right: var(--inputPaddingX);
    padding-bottom: var(--inputPaddingY);
    padding-left: var(--inputPaddingX);
    border-top: var(--inputBorderWidth);
    border-left: var(--inputBorderWidth);
    border-right: var(--inputBorderWidth);
    border-bottom: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    border-top-left-radius: var(--inputBorderRadius);
    border-top-right-radius: var(--inputBorderRadius);
    list-style: none;
}

.textpad-toolbar > .toolbar-tool {
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.textpad-content {
    display: block;
    width: 100%;
    min-height: 35px;
    resize: none;
    padding-top: var(--inputPaddingY);
    padding-right: var(--inputPaddingX);
    padding-bottom: var(--inputPaddingY);
    padding-left: var(--inputPaddingX);
    border-top: 0;
    border-left: var(--inputBorderWidth);
    border-right: var(--inputBorderWidth);
    border-bottom: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    border-bottom-left-radius: var(--inputBorderRadius);
    border-bottom-right-radius: var(--inputBorderRadius);
    font-size: 1.0rem;
    font-weight: 400;
    color: var(--inputTextColor);
    background-color: var(--inputBackgroundColor);
    outline: 0;
}
