/**
 utils classes
 */

.display\:block {
    display: block !important;
}

.zindex\:1 {
    position: relative;
    z-index: 1;
}

.zindex\:2 {
    position: relative;
    z-index: 2;
}

.zindex\:3 {
    position: relative;
    z-index: 3;
}

.zindex\:4 {
    position: relative;
    z-index: 4;
}

.zindex\:5 {
    position: relative;
    z-index: 5;
}

.state\:active {
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
}

.state\:disabled {
    pointer-events: none;
}
