/*
 The rulesets for the carousel component.
 
 default:
 container height: 400px;
 border width: 1px;
 border color:;
 background color:;
 
 darkmode:
 border color:;
 background color:;
 */

.carousel {
    --borderWidth: 1px;
    --borderRadius: 10px;
    --borderColor: 0, 0%, 0%;
    --backgroundColor: transparent;
    
    display: flex;
    flex-direction: column;
    max-inline-size: 100%;
    block-size: auto;
}

.carousel-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    block-size: 350px;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), 1.0);
    background-color: hsla(var(--backgroundColor), 1.0);
    overflow: hidden;
}

.carousel-content::-webkit-scrollbar{
    display: none;
}

.slide {
    display: flex;
    block-size: auto;
    overflow: hidden;
}

.slide-thumbnail {
    inline-size: 60%;
}

.slide-thumbnail > img {
    inline-size: 100%;
    blocks-ize: 100%;
    object-fit: cover;
}

.slide-caption {
    inline-size: 40%;
    padding-block: 24px;
    padding-inline: 24px;
}

.carousel-indication {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    block-size: 50px;
}

.scheme\:dark .carousel, .carousel.scheme\:dark {
    --borderColor: var(--blackColor);
    --backgroundColor: transparent;
}

/*
 indicator component
 
 border width:;
 border radius:;
 border color:;
 background color:;
 
 darkmode:
 border color:;
 background color:;
 */

.indicator {
    --borderRadius: 5px;
    --backgroundColor: transparent;
    --borderColor: #000000;
    
    position: relative;
    display: inline-block;
    inline-size: 40px;
    block-size: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(var(--borderColor), 1.0);
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), 1.0);
    cursor: pointer;
}

.indicator:hover {
    --borderColor: var(--primaryColor);
    --backgroundColor: var(--primaryColor);
}

.scheme\:dark .indicator, .indicator.scheme\:dark {
    --backgroundColor: transparent;
    --borderColor: #000000;
}
