/*
 The stylesheet for the carousel component.
 */

.carousel {
    --borderWidth: 1px;
    --borderColor: 210, 14%, 89%;
    --borderRadius: 0;
    --borderOpacity: 1.0;
    --backgroundColor: 0, 0%, 100%;
    --backgroundOpacity: 1.0;
    
    display: flex;
    flex-direction: column;
    max-inline-size: 100%;
    block-size: auto;
}

.carousel-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    block-size: 350px;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    overflow: hidden;
}

.carousel-content::-webkit-scrollbar{
    display: none;
}

.carousel-indication {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    block-size: 50px;
}

.scheme\:dark .carousel, .carousel.scheme\:dark {
    --borderColor: 210, 9%, 31%;
    --backgroundColor: 210, 11%, 15%;
}

.slide {
    --backgroundColor: 0, 0%, 100%;
    --backgroundOpacity: 1.0;
    
    position: relative;
    display: flex;
    block-size: inherit;
    overflow: hidden;
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
}

/*
 indicator component
 */

.indicator {
    --borderRadius: 5px;
    --borderColor: 210, 14%, 89%;
    --borderOpacity: 1.0;
    --backgroundColor: 210, 14%, 89%;
    --backgroundOpacity: 1.0;
    
    position: relative;
    display: inline-block;
    inline-size: 40px;
    block-size: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    cursor: pointer;
}

.indicator:hover {
    --borderColor: var(--primaryColor);
    --backgroundColor: var(--primaryColor);
}

.scheme\:dark .indicator, .indicator.scheme\:dark {
    --borderColor: 210, 9%, 31%;
    --backgroundColor: 210, 11%, 15%;
}
