/*
 The stylesheet for the divider component.
 
 default:
 background color: #000000
 
 darkmode:
 background color: #FFFFFF
 */

.divider {
    --backgroundColor: var(--systemBorderColor);
    --backgroundOpacity: 1.0;
    
    position: relative;
    display: block;
    inline-size: 100%;
    block-size: 1px;
    border-width: 0;
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
}
