/*
 The stylesheet for the divider component.
 
 default:
 background color: #000000
 
 darkmode:
 background color: #FFFFFF
 */

.divider {
    --backgroundColor: 210, 14%, 89%;
    
    position: relative;
    display: block;
    inline-size: 100%;
    block-size: 1px;
    border-width: 0;
    background-color: hsla(var(--backgroundColor), 1.0);
}

.scheme\:dark .divider, .divider.scheme\:dark {
    --backgroundColor: 210, 9%, 31%;
}
