/**
 * The rulesets for the divider component.
 */

.divider {
    --backgroundColor: var(--systemBorderColor);
    --backgroundOpacity: 1.0;
    
    position: relative;
    display: block;
    inline-size: 100%;
    block-size: 1px;
    border-width: 0;
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
}
