/**
 * The rulesets for the dropdown component.
 */

.dropdown {
    --paddingBlockStart: 0.5rem;
    --paddingBlockEnd: 0.5rem;
    --paddingInlineStart: 1.0rem;
    --paddingInlineEnd: 1.0rem;
    --fontSize: 1.0rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
    --foregroundColor: var(--systemTextColor);
    --borderWidth: 1px;
    --borderColor: var(--systemBorderColor);
    --borderRadius: 0;
    --borderOpacity: 1.0;
    --backgroundColor: var(--systemBackgroundColor);
    --backgroundOpacity: 1.0;
    
    position: relative;
    display: inline-block;
}

.dropdown-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dropdown .dropdown-content {
    position: absolute;
    z-index: 1;
    display: block;
    margin-block: 0.5rem;
    inline-size: max-content;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), 1.0);
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    overflow: hidden;
    visibility: hidden;
}

.dropdown-content.position\:right {
    right: 0;
}

.dropdown-content.position\:bottom {
    bottom: 0;
}

.dropdown-content > .list > .list-row:hover {
    background-color: hsla(var(--borderColor), 0.5);
}

.dropdown-content > .list > .list-row > .link {
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1.0rem;
}

.dropdown-content > .list > .list-row > .text {
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1.0rem;
    cursor: pointer;
}

.dropdown-content > .list > .list-row > .grouping {
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1.0rem;
    cursor: pointer;
}

.dropdown-content > .list > .divider {
    --backgroundColor: var(--borderColor) !important;
}
