/*
 The stylesheet for the dropdown component.
 
 default:
 block padding: 8px
 inline padding: 16px
 font size: 16px
 font weight: normal
 line height: 1.5
 foreground color: #000000
 border width: 1px
 border color: #DFE3E7
 border radius: 0
 background color: #FFFFFF
 
 darkmode:
 foreground color: #FFFFFF
 border color: #484F56
 background color: #22262a
 */

.dropdown {
    --paddingBlockStart: 0.5rem;
    --paddingBlockEnd: 0.5rem;
    --paddingInlineStart: 1.0rem;
    --paddingInlineEnd: 1.0rem;
    --inlineSize: fit-content();
    --fontSize: 1.0rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
    --borderWidth: 1px;
    --borderColor: 210, 14%, 89%;
    --borderRadius: 0;
    --borderOpacity: 1.0;
    --foregroundColor: 0, 0%, 0%;
    --backgroundColor: 0, 0%, 100%;
    --backgroundOpacity: 1.0;
    
    position: relative;
}

.dropdown-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dropdown .dropdown-content {
    position: absolute;
    z-index: 1;
    display: none;
    margin-block: 0.5rem;
    padding-block: 0.5rem;
    inline-size: calc(var(--inlineSize) * 1.5);
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), 1.0);
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    overflow: hidden;
}

.dropdown-content > .list > .list-row:hover {
    background-color: hsla(var(--borderColor), 1.0);
}

.dropdown-content > .list > .list-row > .link {
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1.0rem;
}

.dropdown-content > .list > .list-row > .text {
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1.0rem;
    cursor: pointer;
}

.dropdown-content > .list > .divider {
    --backgroundColor: var(--borderColor) !important;
}

.dropdown.size\:full {
    --inlineSize: 100%;
}

.dropdown.size\:large {
    --inlineSize: 75%;
}

.dropdown.size\:medium {
    --inlineSize: 50%;
}

.scheme\:dark .dropdown, .dropdown.scheme\:dark {
    --foregroundColor: 0, 0%, 100%;
    --borderColor: 210, 9%, 31%;
    --backgroundColor: 210, 11%, 15%;
}


