/*
 The rulesets for the image component.
 
 default:
 inline size: 100%
 border width: 0
 border-radius: 0
 
 darkmode:
 */

.image {
    --inlineSize: 100%;
    --borderWidth: 0;
    --borderRadius: 0;
    --borderColor: 0, 0%, 0%;
    --borderOpacity: 0.0;
    --backgroundColor: 0, 0%, 0%;
    --backgroundOpacity: 0.0;
    --blurLevel: 0;
    --contrastLevel: 100%;
    --brightnessLevel: 100%;
    --grayscaleDepth: 0;
    --saturationLevel: 100%;
    
    position: relative;
    max-inline-size: var(--inlineSize);
    height: auto;
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    font-style: italic;
    filter: blur(var(--blurLevel)) contrast(var(--contrastLevel)) brightness(var(--brightnessLevel)) grayscale(var(--grayscaleDepth)) saturate(var(--saturationLevel));
}

.image.aspect\:equal {
    aspect-ratio: 1/1;
}

.image.aspect\:unequal {
    aspect-ratio: 2/1;
}

.image.fit\:contain {
    object-fit:contain;
}

.image.fit\:cover {
    object-fit:cover;
}

.image.fit\:fill {
    object-fit:fill;
}

.image.fit\:scaledown {
    object-fit:scale-down;
}

.image.fit\:none {
    object-fit:none;
}

.image.opacity\:transparent {
    opacity: 0;
}

.image.opacity\:intransparent {
    opacity: 1;
}

.image.scale\:small {
    --inlineSize: 3.125rem;
}

.image.scale\:medium {
    --inlineSize: 12.5rem;
}

.image.scale\:large {
    --inlineSize: 25rem;
}

.image.shape\:circle {
    --borderRadius: 50%;
}
