/*
 The stylesheet for the modal component.
 
 default:
 block padding: 12px
 inline padding: 16px
 border width: 1px;
 border color: #DFE3E7
 border radius: 0
 background color: #FFFFFF
 
 darkmode:
 border color: #484F56
 background color: #22262A
 */

.modal {
    --paddingBlockStart: 0.75rem;
    --paddingBlockEnd: 0.75rem;
    --paddingInlineStart: 1.0rem;
    --paddingInlineEnd: 1.0rem;
    --borderWidth: 1px;
    --borderColor: 10, 14%, 89%;
    --borderRadius: 0;
    --borderOpacity: 1.0;
    --backgroundColor: 0, 0%, 100%;
    --backgroundOpacity: 1.0;
    
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
    border-width: var(--borderWidth);
    border-style: solid;
    border-color: hsla(var(--borderColor), var(--borderOpacity));
    border-radius: var(--borderRadius);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    box-shadow: 0 15px 35px hsla(0,0%, 0%, 0.2);
}

.scheme\:dark .modal, .modal.scheme\:dark {
    --borderColor: 210, 9%, 31%;
    --backgroundColor: 210, 11%, 15%;
}
