/**
 * The stylesheet for the scroll component.
 */

.scroll {
    position: relative;
    padding-inline: 1px; /* temporary fix */
    padding-block: 1px; /* temporary fix */
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll:has(> .hstack) {
    max-inline-size: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
}

.scroll:has(> .vstack) {
    max-block-size: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-block: contain;
}

.scroll.indicators\:true {
    scrollbar-width: auto;
}

.scroll.indicators\:true::-webkit-scrollbar {
    display: unset;
}
