/**
 * The rulesets for the snippet component.
 */

.snippet {
    --paddingInlineStart: 1.0em;
    --paddingInlineEnd: 1.0em;
    --fontSize: 1.0rem;
    --fontWeight: 400;
    --lineHeight: 1.5;
    --foregroundColor: var(--systemTextColor);
    --backgroundColor: 0, 0%, 0%;
    --backgroundOpacity: 0.0;
    
    position: relative;
    display: block;
    inline-size: 100%;
    block-size: auto;
    counter-reset: line;
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
    overflow-inline: auto;
}

.snippet > p {
    display: block;
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    color: hsla(var(--foregroundColor), 1.0);
    word-wrap: normal;
    white-space: pre;
    counter-increment: line;
}

.snippet > p::before {
    position: relative;
    display: inline-block;
    margin-inline-end: 0.938rem;
    padding-inline: 0.938rem;
    white-space: nowrap;
    text-align: right;
    content: counter(line);
    color: hsla(var(--foregroundColor), 1.0);
    -webkit-user-select: none;
}
