/**
 button component
 */

.button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: var(--buttonPaddingY);
    padding-right: var(--buttonPaddingX);
    padding-bottom: var(--buttonPaddingY);
    padding-left: var(--buttonPaddingX);
    font-family: var(--textFontFamily);
    font-size: 16px;
    text-decoration: none;
    border-width: var(--buttonBorderWidth);
    border-style: solid;
    cursor: pointer;
    -webkit-user-select: none;
}

.button:hover {
    filter: brightness(90%) saturate(90%);
}

.button.style\:primary {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.button.style\:secondary {
    color: var(--whiteColor);
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

.button.style\:outline {
    color: var(--secondaryColor);
    background-color: transparent;
    border-color: var(--secondaryColor);
}

.button.size\:full {
    width: 100%;
}

.button.size\:large {
    width: 75%;
}

.button.size\:medium {
    width: 50%;
}

.button.size\:small {
    width: 25%;
}

.button.shape\:smallrounded {
    border-radius: 5px;
}

.button.shape\:largerounded {
    border-radius: 10px;
}

.button.shape\:fullrounded {
    border-radius: 25px;
}

.button.shape\:circle {
    border-radius: 50%;
}

.button > .symbol + * {
    margin-left: 15px;
}

.button > * + .symbol {
    margin-left: 15px;
}
