/**
 form component
 */

.form {
    display: block;
    width: 100%;
    height: auto;
}

.label {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: var(--textFontFamily);
    font-size: var(--textFontSize);
    font-weight: var(--textFontHeight);
    line-height: var(--textLineHeight);
    color: var(--textBaseColor);
}

.input {
    padding-top: var(--inputPaddingY);
    padding-right: var(--inputPaddingX);
    padding-bottom: var(--inputPaddingY);
    padding-left: var(--inputPaddingX);
    border-width: var(--inputBorderWidth);
    border-style: solid;
    border-color: var(--inputBorderColor);
    border-radius: var(--inputBorderRadius);
    font-size: 1.0rem;
    font-weight: 400;
    color: var(--inputTextColor);
    background-color: var(--inputBackgroundColor);
    box-sizing: border-box;
}

.input.shape\:smallrounded {
    border-radius: 5px;
}

.input.shape\:largerounded {
    border-radius: 10px;
}

.input.shape\:fullrounded {
    border-radius: 25px;
}

.input:focus {
    outline: 0;
    box-shadow: 0 0 0 4px var(--inputFocusColor);
}

.input.type\:textfield {
    display: block;
    width: 100%;
}

.input.type\:texteditor {
    display: block;
    width: 100%;
    min-height: 35px;
    resize: none;
}

.input.type\:checkbox {
    display: inline-block;
    height: 35px;
}

.input.type\:checkfield {
    display: inline-block;
    width: 35px;
}

.input.type\:radioselect {
    display: inline-block;
    width: 35px;
}

.input.type\:slider {
    display: block;
    width: 100% !important;
    height: 3px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: var(--sliderBackgroundColor);
    border-width: 1px;
    border-style: solid;
    border-color: var(--sliderBorderColor);
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
}

.input.type\:slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--thumbBorderColor);
    border-radius: 50%;
    background-color: var(--thumbBackgroundColor);
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.input.type\:slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--thumbBorderColor);
    border-radius: 50%;
    background-color: var(--thumbBackgroundColor);
    cursor: pointer;
}

.input.type\:datepicker {
    display: block;
    width: 100%;
    height: 35px;
}

.input.type\:securefield {
    display: block;
    width: 100%;
}

.input.type\:searchfield {
    display: block;
    width: 100%;
}

.input.type\:selectfield {
    display: block;
    width: 100%;
    -webkit-appearance: none;
}

.required\:true:after {
    content: " *";
    color: var(--redColor);
}
