/**
 image component
 */

.image {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.image img {
    width: 100%;
    height: 100%;
}

.image.fit\:contain img {
    object-fit:contain;
}

.image.fit\:cover img {
    object-fit:cover;
}

.image.fit\:fill img {
    object-fit:fill;
}

.image.fit\:scaledown img {
    object-fit:scale-down;
}

.image.fit\:none img {
    object-fit:none;
}

.image.opacity\:transparent {
    opacity: 0;
}

.image.opacity\:intransparent {
    opacity: 1;
}

.image.scale\:small {
    width: 35px;
    height: 35px;
}

.image.scale\:medium {
    width: 55px;
    height: 55px;
}

.image.scale\:large {
    width: 100px;
    height: 100px;
}

.image.shape\:smallrounded {
    border-radius: 5px;
}

.image.shape\:largerounded {
    border-radius: 10px;
}

.image.shape\:circle {
    border-radius: 50%;
}
