/**
 link component
 */

.link {
    font-family: var(--textFontFamily);
    font-size: var(--textFontSize);
    font-weight: var(--textFontHeight);
    line-height: var(--textLineHeight);
    color: var(--textBaseColor);
    text-decoration: none;
}

.link.size\:small {
    font-size: var(--smallFontSize);
    line-height: var(--smallLineHeight);
}

.link.size\:medium {
    font-size: var(--mediumFontSize);
    line-height: var(--mediumLineHeight);
}

.link.size\:large {
    font-size: var(--largeFontSize);
    line-height: var(--largeLineHeight);
}

.link.weight\:thin {
    font-weight: 100;
}

.link.weight\:ultralight {
    font-weight: 200;
}

.link.weight\:light {
    font-weight: 300;
}

.link.weight\:regular {
    font-weight: 400;
}

.link.weight\:semibold {
    font-weight: 500;
}

.link.weight\:semibold {
    font-weight: 600;
}

.link.weight\:bold {
    font-weight: 700;
}

.link.weight\:heavy {
    font-weight: 900;
}

.link.weight\:black {
    font-weight: 950;
}

.link.color\:black {
    color: var(--blackColor);
}

.link.color\:blue {
    color: var(--blueColor);
}

.link.color\:brown {
    color: var(--brownColor);
}

.link.color\:cyan {
    color: var(--cyanColor);
}

.link.color\:gray {
    color: var(--grayColor);
}

.link.color\:green {
    color: var(--greenColor);
}

.link.color\:indigo {
    color: var(--indigoColor);
}

.link.color\:mint {
    color: var(--mintColor);
}

.link.color\:orange {
    color: var(--orangeColor);
}

.link.color\:pink {
    color: var(--pinkColor);
}

.link.color\:purple {
    color: var(--purpleColor);
}

.link.color\:red {
    color: var(--redColor);
}

.link.color\:teal {
    color: var(--tealColor);
}

.link.color\:white {
    color: var(--whiteColor);
}

.link.color\:yellow {
    color: var(--yellowColor);
}

.link.color\:silver {
    color: var(--silverColor);
}

.link.color\:primary {
    color: var(--primaryColor);
}

.link.color\:secondary {
    color: var(--secondaryColor);
}

.link.transformation\:uppercase {
    text-transform: uppercase;
}

.link.transformation\:lowercase {
    text-transform: lowercase;
}

.link.transformation\:capitalize {
    text-transform: capitalize;
}

.link.transformation\:underline {
    text-decoration: underline;
}

.link.transformation\:overline {
    text-decoration: overline;
}

.link.transformation\:strikethrough {
    text-decoration: line-through;
}

.link.transformation\:none {
    text-decoration: none;
}

.link.style\:italic {
    font-style: italic;
}

.link.style\:oblique {
    font-style: oblique;
}

.link.style\:title {
    font-size: 2.441rem;
    font-weight: 400;
    line-height: 1.75;
}

.link.style\:headline {
    font-size: 1.953rem;
    font-weight: 400;
    line-height: 1.75;
}

.link.style\:subheadline {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75;
}

.link.style\:body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
}

.link.style\:callout {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
}

.link.style\:caption {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.75;
}

.link.style\:footnote {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.75
    color: var(--grayColor);
}

.link.style\:code {
    font-family: monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
}
