/**
 position component
 */

zindex\:1 {
    position: relative;
    z-index: 1;
}

zindex\:2 {
    position: relative;
    z-index: 2;
}

zindex\:3 {
    position: relative;
    z-index: 3;
}

zindex\:4 {
    position: relative;
    z-index: 4;
}

zindex\:5 {
    position: relative;
    z-index: 5;
}
