/**
 stack component
 */

.hstack {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hstack.alignment\:top {
    align-items: flex-start;
}

.hstack.alignment\:center {
    align-items: center;
}

.hstack.alignment\:bottom {
    align-items: flex-end;
}

.hstack.alignment\:baseline {
    align-items: baseline;
}

.hstack.space\:around {
    justify-content: space-around;
}

.hstack.space\:between {
    justify-content: space-between;
}

.hstack.space\:evenly {
    justify-content: space-evenly;
}

.vstack {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.vstack.alignment\:leading {
    justify-content: flex-start;
}

.vstack.alignment\:center {
    justify-content: center;
}

.vstack.alignment\:trailing {
    justify-content: flex-end;
}

.zstack {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.stack-column {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.stack-column.size\:1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
}

.stack-column.size\:2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}

.stack-column.size\:3 {
    flex: 0 0 auto;
    width: 25%;
}

.stack-column.size\:4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}

.stack-column.size\:5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
}

.stack-column.size\:6 {
    flex: 0 0 auto;
    width: 50%;
}

.stack-column.size\:7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}

.stack-column.size\:8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}

.stack-column.size\:9 {
    flex: 0 0 auto;
    width: 75%;
}

.stack-column.size\:10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
}

.stack-column.size\:11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
}

.stack-column.size\:12 {
    flex: 0 0 auto;
    width: 100%;
}

.stack-column.alignment\:center {
    text-align: center;
}

.stack-column.alignment\:left {
    text-align: left;
}

.stack-column.alignment\:right {
    text-align: right;
}

.stack-column.offset\:1 {
    margin-left: 8.3333333333%;
}

.stack-column.offset\:2 {
    margin-left: 16.6666666667%;
}

.stack-column.offset\:3 {
    margin-left: 25%;
}

.stack-column.offset\:4 {
    margin-left: 33.3333333333%;
}

.stack-column.offset\:5 {
    margin-left: 41.6666666667%;
}

.stack-column.offset\:6 {
    margin-left: 50%;
}

.stack-column.offset\:7 {
    margin-left: 58.3333333333%;
}

.stack-column.offset\:8 {
    margin-left: 66.6666666667%
}

.stack-column.offset\:9 {
    margin-left: 75%;
}

.stack-column.offset\:10 {
    margin-left: 83.3333333333%;
}

.stack-column.offset\:11 {
    margin-left: 91.6666666667%;
}
