/**
 toggle component
 */

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--toggleBorderColor);
    border-radius: 31px;
    overflow: hidden;
    cursor: pointer;
}

.toggle:focus {
    outline: 0;
    box-shadow: 0 0 0 4px var(--toggleFocusColor);
}

.toggle > input {
    display: none;
}

.toggle-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--toggleBackgroundColor);
}

.toggle-slider::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--sliderBorderColor);
    border-radius: 50%;
    background-color: var(--sliderBackgroundColor);
}

.toggle > input:checked + .toggle-slider {
    background-color: var(--toggleActiveBackgroundColor);
}

.toggle > input:checked + .toggle-slider::before {
    left: calc(100% - 26px);
}
