/**
 * The rulesets for the grid component.
 */

.grid {
    --paddingInlineStart: 0;
    --paddingInlineEnd: 0;
    --paddingBlockStart: 0;
    --paddingBlockEnd: 0;
    --backgroundColor: 0, 0%, 0%;
    --backgroundOpacity: 0.0;
    
    position: relative;
    inline-size: 100%;
    display: grid;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));
}

.grid.ratio\:fit {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.grid.ratio\:half {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid.ratio\:third {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid.ratio\:quarter {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid.ratio\:fifth {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid.ratio\:sixth {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid.vertical-spacing\:around {
    align-content: space-around;
}

.grid.vertical-spacing\:between {
    align-content: space-between;
}

.grid.vertical-spacing\:evenly {
    align-content: space-evenly;
}

.grid.vertical-spacing\:large {
    row-gap: 2.25rem;
}

.grid.vertical-spacing\:medium {
    row-gap: 1.5rem;
}

.grid.vertical-spacing\:small {
    row-gap: 1rem;
}

.grid.horizontal-spacing\:around {
    justify-content: space-around;
}

.grid.horizontal-spacing\:between {
    justify-content: space-between;
}

.grid.horizontal-spacing\:evenly {
    justify-content: space-evenly;
}

.grid.horizontal-spacing\:large {
    column-gap: 2.25rem;
}

.grid.horizontal-spacing\:medium {
    column-gap: 1.5rem;
}

.grid.horizontal-spacing\:small {
    column-gap: 1rem;
}

.grid > .frame-alignment\:leading {
    align-self: start;
}

.grid > .frame-alignment\:center {
    align-self: center;
}

.grid > .frame-alignment\:trailing {
    align-self: end;
}
