/*
 The rulsets for the horizontal stack component.
 */

.hstack {
    --paddingInlineStart: 0;
    --paddingInlineEnd: 0;
    --paddingBlockStart: 0;
    --paddingBlockEnd: 0;
    
    position: relative;
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
}

.hstack.alignment\:top {
    align-items: flex-start;
}

.hstack.alignment\:center {
    align-items: center;
}

.hstack.alignment\:bottom {
    align-items: flex-end;
}

.hstack.alignment\:baseline {
    align-items: baseline;
}

.hstack.space\:around {
    justify-content: space-around;
}

.hstack.space\:between {
    justify-content: space-between;
}

.hstack.space\:evenly {
    justify-content: space-evenly;
}

.hstack.space\:center {
    justify-content: center;
}

.hstack.space\:large {
    gap: 2.25rem;
}

.hstack.space\:medium {
    gap: 1.5rem;
}

.hstack.space\:small {
    gap: 1rem;
}

/*
 The rulesets for the vertical stack component.
 */

.vstack {
    --paddingInlineStart: 0;
    --paddingInlineEnd: 0;
    --paddingBlockStart: 0;
    --paddingBlockEnd: 0;
    
    position: relative;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
}

.vstack.alignment\:leading {
    align-items: flex-start;
}

.vstack.alignment\:center {
    align-items: center;
}

.vstack.alignment\:trailing {
    align-items: flex-end;
}

.vstack.space\:around {
    justify-content: space-around;
}

.vstack.space\:between {
    justify-content: space-between;
}

.vstack.space\:evenly {
    justify-content: space-evenly;
}

.vstack.space\:center {
    justify-content: center;
}

.vstack.space\:large {
    gap: 2.25rem;
}

.vstack.space\:medium {
    gap: 1.5rem;
}

.vstack.space\:small {
    gap: 1rem;
}

/*
 The rulesets for the vertical stack component.
 */

.zstack {
    --paddingInlineStart: 0;
    --paddingInlineEnd: 0;
    --paddingBlockStart: 0;
    --paddingBlockEnd: 0;
    
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
}
