/**
 * The rulesets for the horizontal stack component.
 */

.hstack {
    --paddingInlineStart: 0;
    --paddingInlineEnd: 0;
    --paddingBlockStart: 0;
    --paddingBlockEnd: 0;
    --backgroundColor: 0, 0%, 0%;
    --backgroundOpacity: 0.0;
    
    position: relative;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));

    &.vertical-alignment\:top {
        align-items: flex-start;
    }

    &.vertical-alignment\:center {
        align-items: center;
    }

    &.vertical-alignment\:bottom {
        align-items: flex-end;
    }

    &.vertical-alignment\:baseline {
        align-items: baseline;
    }

    &.horizontal-alignment\:leading {
        margin-inline-end: auto !important;
    }

    &.horizontal-alignment\:center {
        margin-inline-start: auto !important;
        margin-inline-end: auto !important;
    }

    &.horizontal-alignment\:trailing {
        margin-inline-start: auto !important;
    }

    &.spacing\:around {
        justify-content: space-around;
    }

    &.spacing\:between {
        justify-content: space-between;
    }

    &.spacing\:large {
        gap: 2.25rem;
    }

    &.spacing\:medium {
        gap: 1.5rem;
    }

    &.spacing\:small {
        gap: 1rem;
    }

    &.spacing\:evenly {
        justify-content: space-evenly;
    }

    &.shadow\:small {
        box-shadow: 0 1px 1px -1px hsla(var(--shadowColor), 0.3), 0 2px 2px -2px hsla(var(--shadowColor), 0.3);
    }

    &.shadow\:medium {
        box-shadow: 0 3px 3px -3px hsla(var(--shadowColor), 0.3), 0 4px 4px -4px hsla(var(--shadowColor), 0.3);
    }

    &.shadow\:large {
        box-shadow: 0 5px 5px -5px hsla(var(--shadowColor), 0.3), 0 6px 6px -6px hsla(var(--shadowColor), 0.3);
    }

    > .frame-alignment\:leading {
        align-self: flex-start;
    }

    > .frame-alignment\:center {
        align-self: center;
    }

    > .frame-alignment\:trailing {
        align-self: flex-end;
    }
}

/**
 * The rulesets for the vertical stack component.
 */

.vstack {
    --paddingInlineStart: 0;
    --paddingInlineEnd: 0;
    --paddingBlockStart: 0;
    --paddingBlockEnd: 0;
    --backgroundColor: 0, 0%, 0%;
    --backgroundOpacity: 0.0;
    
    position: relative;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));

    &.horizontal-alignment\:leading {
        align-items: flex-start;
    }

    &.horizontal-alignment\:center {
        align-items: center;
    }

    &.horizontal-alignment\:trailing {
        align-items: flex-end;
    }

    &.spacing\:around {
        justify-content: space-around;
    }

    &.spacing\:between {
        justify-content: space-between;
    }

    &.spacing\:evenly {
        justify-content: space-evenly;
    }

    &.spacing\:large {
        gap: 2.25rem;
    }

    &.spacing\:medium {
        gap: 1.5rem;
    }

    &.spacing\:small {
        gap: 1rem;
    }

    &.shadow\:small {
        box-shadow: 0 1px 1px -1px hsla(var(--shadowColor), 0.3), 0 2px 2px -2px hsla(var(--shadowColor), 0.3);
    }

    &.shadow\:medium {
        box-shadow: 0 3px 3px -3px hsla(var(--shadowColor), 0.3), 0 4px 4px -4px hsla(var(--shadowColor), 0.3);
    }

    &.shadow\:large {
        box-shadow: 0 5px 5px -5px hsla(var(--shadowColor), 0.3), 0 6px 6px -6px hsla(var(--shadowColor), 0.3);
    }

    > .frame-alignment\:leading {
        align-self: flex-start;
    }

    > .frame-alignment\:center {
        align-self: center;
    }

    > .frame-alignment\:trailing {
        align-self: flex-end;
    }
}

/**
 * The rulesets for the overlay stack component.
 */

.zstack {
    --paddingInlineStart: 0;
    --paddingInlineEnd: 0;
    --paddingBlockStart: 0;
    --paddingBlockEnd: 0;
    --backgroundColor: 0, 0%, 0%;
    --backgroundOpacity: 0.0;
    
    position: relative;
    padding-block-start: var(--paddingBlockStart);
    padding-block-end: var(--paddingBlockEnd);
    padding-inline-start: var(--paddingInlineStart);
    padding-inline-end: var(--paddingInlineEnd);
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    background-color: hsla(var(--backgroundColor), var(--backgroundOpacity));

    &.shadow\:small {
        box-shadow: 0 1px 1px -1px hsla(var(--shadowColor), 0.3), 0 2px 2px -2px hsla(var(--shadowColor), 0.3);
    }

    &.shadow\:medium {
        box-shadow: 0 3px 3px -3px hsla(var(--shadowColor), 0.3), 0 4px 4px -4px hsla(var(--shadowColor), 0.3);
    }

    &.shadow\:large {
        box-shadow: 0 5px 5px -5px hsla(var(--shadowColor), 0.3), 0 6px 6px -6px hsla(var(--shadowColor), 0.3);
    }

    > * {
        grid-area: 1 / 1;
    }
}
